@charset "UTF-8";

// 文本主要颜色
$text-color: #505050;

// 文本强调颜色，强调背景颜色，header部分背景颜色
$main-color: #5a74c9;

// 主要内容背景颜色
$main-content-bg-color: #ebeffa;

// 菜单导航背景颜色
$menu-bg-color: #38486a;

// logo背景颜色
$logo-bg-color: #516bc0;

// 文本字号
$font-size: 14px;


