@charset "UTF-8";
/*! lixinjie 20180103 https://github.com/xinjie-just/tuobei-business-back-end.git */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
blockquote,
pre,
textarea,
fieldset,
figure,
ul,
ol,
dl,
dd,
menu {
  margin: 0;
}

input,
textarea,
button,
select,
option,
fieldset,
legend,
ul,
ol,
menu,
th,
td {
  padding: 0;
}

hr,
progress,
input,
textarea,
button,
select,
fieldset {
  border: 0;
}

html {
  height: 100%;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  color: #505050;
  background-color: #ebeff9;
  font-family: "Microsoft Yahei", Arial, sans-serif;
  -webkit-overflow-scrolling: touch;
  /* ios5+ */
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

template,
[hidden] {
  display: none;
}

/* ===链接=== */
a {
  color: #505050;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
}
a:focus, a:active, a:hover {
  outline-width: 0;
  text-decoration: none;
}

/*a[href]:empty::before {
  content: attr(href);
}*/
/* ===文本=== */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

article h1,
section h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* ===嵌入式内容=== */
img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

/* ===分组内容=== */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 14px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/* ===表单=== */
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

optgroup {
  font-weight: bold;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
button:focus,
html [type="button"]:focus,
[type="reset"]:focus,
[type="submit"]:focus {
  outline: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* ===表格=== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th {
  text-align: left;
}

/* ===列表=== */
ol,
ul {
  list-style-type: none;
}

/* ===关于浮动=== */
.clearfix:before, #header .navbar:before, .basic-info:before, .basic-info .row:before, .basic-info .business-license-file-upload .placeholder-img-list:before, .basic-info .business-picture-file-upload .placeholder-img-list:before, .basic-info .logo-file-upload .placeholder-img-list:before, .handle-list:before, .handle-list .condition-list:before, .content-wrapper .withdraw-form > div .money-wrapper:before, .content-wrapper .withdraw-form > div.handle:before, .content-wrapper .card-management-content .card-list:before {
  content: "";
  display: table;
}
.clearfix:after, #header .navbar:after, .basic-info:after, .basic-info .row:after, .basic-info .business-license-file-upload .placeholder-img-list:after, .basic-info .business-picture-file-upload .placeholder-img-list:after, .basic-info .logo-file-upload .placeholder-img-list:after, .handle-list:after, .handle-list .condition-list:after, .content-wrapper .withdraw-form > div .money-wrapper:after, .content-wrapper .withdraw-form > div.handle:after, .content-wrapper .card-management-content .card-list:after {
  content: "";
  display: table;
  clear: both;
}

/*快捷样式*/
figure {
  overflow: hidden;
}
figure a {
  display: block;
}
figure img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

label {
  margin-bottom: 0;
  cursor: pointer;
}
label:hover {
  opacity: .8;
}

#header .custom-menu li.user-menu img, .basic-info .row > div input, .basic-info .business-license-file-upload .placeholder-img-list li span, .basic-info .business-picture-file-upload .placeholder-img-list li span, .basic-info .logo-file-upload .placeholder-img-list li span, .handle-list .condition-list > div input, .record-list table.record-list-table thead tr th, .record-list table.record-list-table tbody tr td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*validate错误提示*/
label.error {
  color: #f00;
  display: block;
  margin-bottom: 5px;
}

#errorTips {
  display: block;
  color: #f00;
  visibility: hidden;
}

@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.eot?t=1489192348890");
  /* IE9*/
  src: url("../fonts/iconfont.eot?t=1489192348890#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff?t=1489192348890") format("woff"), url("../fonts/iconfont.ttf?t=1489192348890") format("truetype"), url("../fonts/iconfont.svg?t=1489192348890#iconfont") format("svg");
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu:before {
  content: "\e636";
}

.icon-gou:before {
  content: "\e666";
}

.icon-wenjian:before {
  content: "\e634";
}

.icon-wenjian1:before {
  content: "\e614";
}

.icon-qingchu:before {
  content: "\e60a";
}

.icon-shangchuan:before {
  content: "\e6f7";
}

.icon-cha:before {
  content: "\e602";
}

.icon-wenjian2:before {
  content: "\e615";
}

/*===首页===*/
.content-wrapper {
  position: relative;
  background-color: #37486b;
}

#header {
  width: 100%;
  height: 64px;
  position: fixed;
  z-index: 9999;
}
#header .logo {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 180px;
  height: 64px;
  line-height: 64px;
  background-color: #506bbf;
  color: #fff;
  font-size: 14px;
  text-align: center;
  letter-spacing: .2em;
  padding-left: .2em;
}
#header .navbar {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 180px);
  height: 64px;
  background-color: #5974c8;
}
#header .custom-menu {
  float: right;
  height: 64px;
  line-height: 64px;
  color: #fff;
}
#header .custom-menu li {
  float: left;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}
#header .custom-menu li:not(:first-of-type)::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 40px;
  left: 0;
  top: 50%;
  background-color: #fff;
  transform: translateY(-50%);
}
#header .custom-menu li.sign-out {
  padding-left: 0;
  padding-right: 0;
}
#header .custom-menu li.sign-out a {
  display: block;
  padding-right: 20px;
  padding-left: 20px;
  color: #fff;
}
#header .custom-menu li.user-menu {
  font-size: 0;
}
#header .custom-menu li.user-menu span {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
}
#header .custom-menu li.user-menu img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  font-size: 14px;
  border: 1px solid #3e5cba;
}

#sidebarMenu {
  position: fixed;
  top: 64px;
  left: 0;
  width: 180px;
  min-height: 100%;
  background-color: #37486b;
  color: #5f79b0;
  padding-top: 8px;
  padding-bottom: 8px;
  overflow-y: auto;
}
#sidebarMenu .sidebar-menu-list > li:not(:last-of-type) {
  margin-bottom: 14px;
}
#sidebarMenu .sidebar-menu-list > li > a {
  display: block;
  height: 30px;
  line-height: 30px;
  color: #5f79b0;
  font-size: 14px;
  padding-left: 40px;
  border-left: 3px solid transparent;
}
#sidebarMenu .sidebar-menu-list > li > a i {
  font-size: 16px;
  margin-right: 6px;
}
#sidebarMenu .sidebar-menu-list > li > a.active, #sidebarMenu .sidebar-menu-list > li > a:hover {
  border-left-color: #fff;
  color: #fff;
}

#main {
  width: 100%;
  min-height: calc(100% - 64px);
  position: relative;
  top: 64px;
}
#main .content-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 180px);
  min-height: 100%;
  padding: 30px;
  background-color: #ebeff9;
}

/*===基本信息===*/
.basic-info {
  width: 100%;
  background-color: #fff;
  padding: 32px 32px 32px 66px;
}
.basic-info .form-left {
  float: left;
  width: 70%;
  min-width: 680px;
}
.basic-info .row:not(:last-of-type) {
  margin-bottom: 20px;
}
.basic-info .row.one-line {
  height: 34px;
}
.basic-info .row > div {
  float: left;
  font-size: 0;
}
.basic-info .row > div:first-of-type:not(:last-of-type) {
  margin-right: 44px;
  width: calc(50% - 22px);
}
.basic-info .row > div:last-of-type:not(:first-of-type) {
  width: calc(50% - 22px);
}
.basic-info .row > div:first-of-type:last-of-type {
  width: 100%;
}
.basic-info .row > div.opening-time input {
  width: calc((100% - 94px - 20px) / 2);
  position: relative;
}
.basic-info .row > div.opening-time input:last-of-type {
  margin-left: 20px;
}
.basic-info .row > div.opening-time input:last-of-type::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  width: 12px;
  height: 5px;
  background-color: #a7a7a7;
}
.basic-info .row > div label:not(.error) {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  width: 94px;
  height: 34px;
  line-height: 34px;
  position: relative;
  padding-right: 18px;
  text-align: right;
  color: #505050;
}
.basic-info .row > div label:not(.error).required:after {
  content: "*";
  position: absolute;
  top: 50%;
  right: 8px;
  font-size: 14px;
  color: #f00;
  transform: translateY(calc(-50% + 2px));
}
.basic-info .row > div label.error {
  display: block;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  margin-left: 94px;
}
.basic-info .row > div input {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 94px);
  height: 34px;
  line-height: 32px;
  border: 1px solid #bfbfbf;
  font-size: 14px;
  color: #a7a7a7;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 2px;
}
.basic-info .row > div.business-intro textarea {
  display: inline-block;
  vertical-align: middle;
  min-width: 430px;
  width: 430px;
  max-width: calc(100% - 94px);
  min-height: 100px;
  height: 150px;
  max-height: 150px;
  line-height: 22px;
  border: 1px solid #bfbfbf;
  font-size: 14px;
  color: #a7a7a7;
  padding: 6px 20px;
  border-radius: 2px;
}
.basic-info .row > div.cancel-confirm {
  margin-left: 94px;
  margin-top: 50px;
  font-size: 0;
}
.basic-info .row > div.cancel-confirm button {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #fff;
  min-width: 100px;
  height: 40px;
  line-height: 40px;
  padding-right: 32px;
  padding-left: 32px;
  text-align: center;
  border-radius: 40px;
}
.basic-info .row > div.cancel-confirm button:not(:last-of-type) {
  margin-right: 40px;
}
.basic-info .row > div.cancel-confirm .cancel {
  background-color: #eaeff9;
}
.basic-info .row > div.cancel-confirm .confirm {
  background-color: #70e1bd;
}
.basic-info .logo-img {
  float: right;
  width: 100px;
}
.basic-info .business-license-file-upload {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 94px);
  position: relative;
  height: 210px;
}
.basic-info .business-license-file-upload .tips {
  position: absolute;
  bottom: 0;
  left: 180px;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  color: #a7a7a7;
}
.basic-info .business-license-file-upload .placeholder-img-list {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
}
.basic-info .business-license-file-upload .placeholder-img-list li {
  float: left;
  width: 100px;
  height: 100px;
  background-color: #eaeff9;
  padding: 26px 10px 0;
  overflow: hidden;
  text-align: center;
  border-radius: 2px;
  margin: 9px;
}
.basic-info .business-license-file-upload .placeholder-img-list li i {
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-size: 32px;
  color: #fff;
}
.basic-info .business-license-file-upload .placeholder-img-list li span {
  font-size: 12px;
  color: #fff;
}
.basic-info .business-picture-file-upload {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 94px);
  position: relative;
  height: 210px;
}
.basic-info .business-picture-file-upload .tips {
  position: absolute;
  bottom: 0;
  left: 180px;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  color: #a7a7a7;
}
.basic-info .business-picture-file-upload .placeholder-img-list {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
}
.basic-info .business-picture-file-upload .placeholder-img-list li {
  float: left;
  width: 100px;
  height: 100px;
  background-color: #eaeff9;
  padding: 26px 10px 0;
  overflow: hidden;
  text-align: center;
  border-radius: 2px;
  margin: 9px;
}
.basic-info .business-picture-file-upload .placeholder-img-list li i {
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-size: 32px;
  color: #fff;
}
.basic-info .business-picture-file-upload .placeholder-img-list li span {
  font-size: 12px;
  color: #fff;
}
.basic-info .logo-file-upload {
  width: 120px;
  position: relative;
  right: 20px;
  height: 210px;
}
.basic-info .logo-file-upload .tips {
  position: absolute;
  bottom: 0;
  left: 180px;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  color: #a7a7a7;
}
.basic-info .logo-file-upload .placeholder-img-list {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
}
.basic-info .logo-file-upload .placeholder-img-list li {
  float: left;
  width: 100px;
  height: 100px;
  background-color: #eaeff9;
  padding: 26px 10px 0;
  overflow: hidden;
  text-align: center;
  border-radius: 2px;
  margin: 9px;
}
.basic-info .logo-file-upload .placeholder-img-list li span {
  font-size: 16px;
  color: #fff;
}

/*===消费记录===*/
.handle-list {
  padding: 22px 10px;
  background-color: #fff;
}
.handle-list .condition-list {
  float: left;
}
.handle-list .condition-list > div {
  float: left;
}
.handle-list .condition-list > div:not(:last-of-type) {
  margin-right: 10px;
  font-size: 0;
}
.handle-list .condition-list > div label {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  font-size: 14px;
  color: #505050;
}
.handle-list .condition-list > div input {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  color: #2b2b2b;
  border: 1px solid #bfbfbf;
  height: 30px;
  line-height: 28px;
  padding-right: 1em;
  padding-left: 1em;
}
@media (max-width: 1380px) {
  .handle-list .condition-list {
    width: calc(100% - 140px);
  }
  .handle-list .condition-list > div {
    margin-bottom: 10px;
  }
}
.handle-list .handle-method {
  float: right;
}
.handle-list .handle-method button {
  display: inline-block;
  vertical-align: middle;
  padding-right: 16px;
  padding-left: 16px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
}
.handle-list .handle-method button:not(:last-of-type) {
  margin-right: 10px;
}
.handle-list .handle-method button.filter {
  background-color: #5974c8;
}
.handle-list .handle-method button.filter:hover {
  background-color: #3e5cba;
}
.handle-list .handle-method button.filter:focus {
  background-color: #3651a3;
}
.handle-list .handle-method button.export {
  background-color: #70e1bd;
}
.handle-list .handle-method button.export:hover {
  background-color: #4edaad;
}
.handle-list .handle-method button.export:focus {
  background-color: #35d5a2;
}

.record-list {
  background-color: #fff;
  margin-top: 20px;
  padding-bottom: 20px;
}
.record-list table.record-list-table {
  width: 100%;
  table-layout: fixed;
}
.record-list table.record-list-table thead tr {
  height: 40px;
  line-height: 40px;
  background-color: #5974c8;
}
.record-list table.record-list-table thead tr th {
  padding-right: 1em;
  padding-left: 1em;
  font-size: 14px;
  color: #fff;
}
.record-list table.record-list-table tbody tr {
  height: 40px;
  line-height: 39px;
  border-bottom: 1px solid #f5f5f5;
}
.record-list table.record-list-table tbody tr td {
  padding-right: 1em;
  padding-left: 1em;
  font-size: 12px;
  color: #2b2b2b;
}
.record-list table.record-list-table tbody tr td.order-status {
  padding-left: calc(1em + 18px);
  position: relative;
}
.record-list table.record-list-table tbody tr td.order-status::before {
  content: "";
  position: absolute;
  left: 1em;
  top: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transform: translateY(-50%);
}
.record-list table.record-list-table tbody tr td.paid::before {
  background-color: #00ff42;
}
.record-list table.record-list-table tbody tr td.not-paid::before {
  background-color: #f00;
}
.record-list table.record-list-table tbody tr td.abolish::before {
  background-color: #7d7d7d;
}
.record-list table.record-list-table tbody tr td.unknown::before {
  background-color: #fefe00;
}
.record-list table.record-list-table .order-number {
  min-width: 120px;
  width: 13%;
}
.record-list table.record-list-table .product-name {
  min-width: 60%;
  width: 22%;
}
.record-list table.record-list-table .user-phone {
  min-width: 140px;
  width: 13%;
}
.record-list table.record-list-table .payment-method {
  min-width: 40%;
  width: 13%;
}
.record-list table.record-list-table .payment-amount {
  min-width: 120px;
  width: 13%;
}
.record-list table.record-list-table .order-time {
  min-width: 160px;
  width: 13%;
}
.record-list table.record-list-table .order-status {
  min-width: 140px;
  width: 13%;
}

/*分页*/
.pagination-wrapper {
  text-align: right;
  margin-top: 15px;
  padding-right: 1em;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #505050;
  border: 1px solid #d4d4d4;
  background-color: #fff;
}
.pagination > li > a:hover, .pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus {
  z-index: 2;
  color: #fff;
  border-color: #5974c8;
  background-color: #5974c8;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > .active > a,
.pagination > .active > span {
  background-color: #5974c8;
  border-color: #5974c8;
  color: #fff;
}
.pagination > .active > a:hover, .pagination > .active > a:focus,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  z-index: 3;
  cursor: default;
  color: #fff;
  border-color: #5974c8;
  background-color: #5974c8;
}
.pagination > .disabled > a:hover, .pagination > .disabled > a:focus,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}

/*===提现管理===*/
/*余额提现*/
.content-wrapper .withdraw-nav {
  width: 200px;
  float: left;
  background-color: #fff;
}
.content-wrapper .withdraw-nav a {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #2b2b2b;
  font-size: 14px;
}
.content-wrapper .withdraw-nav a.active, .content-wrapper .withdraw-nav a:hover {
  background-color: #5974c8;
  color: #fff;
}
.content-wrapper .withdraw-content {
  width: calc(100% - 200px - 20px);
  float: right;
  background-color: #fff;
  padding: 15px 15px 120px;
}
.content-wrapper .withdraw-content .my-count {
  font-size: 14px;
  color: #2b2b2b;
  margin: 60px auto 0;
  text-align: center;
  line-height: 1.8em;
}
.content-wrapper .withdraw-content .value {
  margin: 30px auto 0;
  font-size: 30px;
  color: #2b2b2b;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.content-wrapper .withdraw-content .value span {
  font-size: 50px;
  margin-left: 4px;
}
.content-wrapper .withdraw-content .withdraw {
  text-align: center;
  margin: 70px auto 0;
}
.content-wrapper .withdraw-content .withdraw a {
  display: inline-block;
  padding: 10px 38px;
  border-radius: 40px;
  font-size: 14px;
  color: #fff;
  background-color: #70e1bd;
}
.content-wrapper .withdraw-content .withdraw a:hover {
  background-color: #4edaad;
}
.content-wrapper .withdraw-content .withdraw a:focus {
  background-color: #35d5a2;
}
.content-wrapper .withdraw-form {
  width: calc(100% - 200px - 20px);
  float: right;
  background-color: #fff;
  padding: 24px 80px 80px;
}
.content-wrapper .withdraw-form > div {
  color: #2b2b2b;
  font-size: 12px;
}
.content-wrapper .withdraw-form > div:not(:last-of-type) {
  margin-bottom: 10px;
}
.content-wrapper .withdraw-form > div label {
  display: block;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  color: #2b2b2b;
}
.content-wrapper .withdraw-form > div.card-select select {
  min-width: 240px;
  height: 36px;
  line-height: 36px;
  padding-left: 20px;
  padding-right: 10px;
  border: 1px solid #bfbfbf;
  color: #a7a7a7;
  font-size: 14px;
  cursor: pointer;
}
.content-wrapper .withdraw-form > div.card-select select:focus {
  outline: none;
}
.content-wrapper .withdraw-form > div.card-select select option {
  height: 30px;
  line-height: 30px;
  padding-right: 20px;
  padding-left: 20px;
  color: #2b2b2b;
  font-size: 14px;
  cursor: pointer;
}
.content-wrapper .withdraw-form > div .money-wrapper {
  min-width: 340px;
  width: 42%;
  height: 60px;
  line-height: 58px;
  border: 1px solid #bfbfbf;
}
.content-wrapper .withdraw-form > div .money-wrapper .currency {
  float: left;
  display: block;
  width: 58px;
  height: 58px;
  line-height: 58px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #2b2b2b;
}
.content-wrapper .withdraw-form > div .money-wrapper .my-money {
  float: left;
  display: block;
  width: calc(100% - 60px - 96px);
  font-size: 16px;
  font-weight: 500;
  color: #2b2b2b;
}
.content-wrapper .withdraw-form > div .money-wrapper .my-money:focus {
  border: none;
  outline: none;
}
.content-wrapper .withdraw-form > div .money-wrapper .all-money {
  display: block;
  float: right;
  width: 96px;
  height: 58px;
  line-height: 58px;
  text-align: center;
  background-color: transparent;
  color: #70e1bd;
  font-size: 14px;
  cursor: pointer;
}
.content-wrapper .withdraw-form > div.tips {
  line-height: 1.6;
}
.content-wrapper .withdraw-form > div.tips span {
  color: #ff1616;
}
.content-wrapper .withdraw-form > div.handle {
  margin-top: 40px;
}
.content-wrapper .withdraw-form > div.handle button {
  float: left;
  display: block;
  padding: 10px 38px;
  border-radius: 40px;
  font-size: 14px;
  color: #fff;
}
.content-wrapper .withdraw-form > div.handle button:not(:last-of-type) {
  margin-right: 40px;
}
.content-wrapper .withdraw-form > div.handle button.cancel {
  background-color: #eaeff9;
}
.content-wrapper .withdraw-form > div.handle button.cancel:hover {
  background-color: #cad7f0;
}
.content-wrapper .withdraw-form > div.handle button.cancel:focus {
  background-color: #b2c5e9;
}
.content-wrapper .withdraw-form > div.handle button.confirm {
  background-color: #70e1bd;
}
.content-wrapper .withdraw-form > div.handle button.confirm:hover {
  background-color: #4edaad;
}
.content-wrapper .withdraw-form > div.handle button.confirm:focus {
  background-color: #35d5a2;
}
.content-wrapper .card-management-content {
  position: relative;
  padding-bottom: 200px;
}
.content-wrapper .card-management-content .card-list li {
  z-index: 9;
  position: relative;
  float: left;
  width: 250px;
  height: 90px;
  border-radius: 6px;
  margin: 15px 10px;
  padding-top: 10px;
  padding-left: 80px;
  color: #fff;
  cursor: pointer;
}
.content-wrapper .card-management-content .card-list li.selected::before, .content-wrapper .card-management-content .card-list li.active::before {
  z-index: 10;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.5) url("../imgs/selected.png") no-repeat center/30px;
}
.content-wrapper .card-management-content .card-list li:nth-of-type(3n + 1) {
  background-color: #d81e06;
}
.content-wrapper .card-management-content .card-list li:nth-of-type(3n + 1):hover {
  background-color: #b01805;
}
.content-wrapper .card-management-content .card-list li:nth-of-type(3n + 1):focus {
  background-color: #931404;
}
.content-wrapper .card-management-content .card-list li:nth-of-type(3n + 2) {
  background-color: #13227a;
}
.content-wrapper .card-management-content .card-list li:nth-of-type(3n + 2):hover {
  background-color: #0e1857;
}
.content-wrapper .card-management-content .card-list li:nth-of-type(3n + 2):focus {
  background-color: #09113c;
}
.content-wrapper .card-management-content .card-list li:nth-of-type(3n + 3) {
  background-color: #009174;
}
.content-wrapper .card-management-content .card-list li:nth-of-type(3n + 3):hover {
  background-color: #006853;
}
.content-wrapper .card-management-content .card-list li:nth-of-type(3n + 3):focus {
  background-color: #004a3b;
}
.content-wrapper .card-management-content .card-list li .bank-name {
  font-size: 14px;
  line-height: 26px;
}
.content-wrapper .card-management-content .card-list li .card-type {
  font-size: 12px;
  line-height: 22px;
}
.content-wrapper .card-management-content .card-list li .card-number {
  font-size: 14px;
  line-height: 24px;
}
.content-wrapper .card-management-content .card-list li i {
  position: absolute;
  top: 50%;
  left: 20px;
  font-size: 40px;
  transform: translateY(-50%);
  color: #fff;
}
.content-wrapper .card-management-content .card-list .add-card-btn {
  position: relative;
  display: block;
  float: left;
  height: 90px;
  width: 250px;
  border: 2px dashed #a7a7a7;
  padding-top: 50px;
  text-align: center;
  border-radius: 6px;
  margin: 15px 10px;
  background-color: transparent;
}
.content-wrapper .card-management-content .card-list .add-card-btn:hover {
  background-color: #ebebeb;
}
.content-wrapper .card-management-content .card-list .add-card-btn:focus {
  background-color: #dbdbdb;
}
.content-wrapper .card-management-content .card-list .add-card-btn i {
  position: absolute;
  top: 14px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 34px;
  font-weight: 500;
  color: #eaeff9;
}
.content-wrapper .card-management-content .remove-btn {
  position: absolute;
  bottom: 30px;
  right: 15px;
  display: block;
  padding: 10px 38px;
  border-radius: 40px;
  font-size: 14px;
  color: #fff;
  background-color: #70e1bd;
}
.content-wrapper .card-management-content .remove-btn:hover {
  background-color: #4edaad;
}
.content-wrapper .card-management-content .remove-btn:focus {
  background-color: #35d5a2;
}

/*# sourceMappingURL=tuobei-business-back-end.css.map */
